#-------------------------------------------------------------------------------
# APP CONFIG
# -----------------------------------------------------------------------------
SERVER_CONFIG_PORT=9090
SERVER_CONFIG_NAME=server-config

SERVER_DISCOVERY_PORT=9091
SERVER_DISCOVERY_NAME=server-discovery
SERVER_DISCOVERY_HOST=localhost
SERVER_DISCOVERY_DEFAULT_ZONE=http://localhost:9091/eureka

SERVER_GATEWAY_PORT=9092
SERVER_GATEWAY_NAME=server-gateway

SERVICE_CATALOG_PORT=8080
SERVICE_CATALOG_NAME=service-catalog
SERVICE_CATALOG_DATABASE_HOST=localhost
SERVICE_CATALOG_DATABASE_PORT=5432
SERVICE_CATALOG_DATABASE_NAME=hype360_ecommerce
SERVICE_CATALOG_DATABASE_USERNAME=postgres
SERVICE_CATALOG_DATABASE_PASSWORD=postgres

SERVICE_DASHBOARD_PORT=8081
SERVICE_DASHBOARD_NAME=service-dashboard
SERVICE_DASHBOARD_DATABASE_HOST=localhost
SERVICE_DASHBOARD_DATABASE_PORT=5432
SERVICE_DASHBOARD_DATABASE_NAME=hype360_ecommerce
SERVICE_DASHBOARD_DATABASE_USERNAME=postgres
SERVICE_DASHBOARD_DATABASE_PASSWORD=postgres

SERVICE_FILE_MANAGER_PORT=8082
SERVICE_FILE_MANAGER_NAME=service-file-manager
SERVICE_FILE_MANAGER_DATABASE_HOST=localhost
SERVICE_FILE_MANAGER_DATABASE_PORT=5432
SERVICE_FILE_MANAGER_DATABASE_NAME=hype360_ecommerce
SERVICE_FILE_MANAGER_DATABASE_USERNAME=postgres
SERVICE_FILE_MANAGER_DATABASE_PASSWORD=postgres

SERVICE_NOTIFICATION_PORT=8083
SERVICE_NOTIFICATION_NAME=service-notification
SERVICE_NOTIFICATION_DATABASE_HOST=localhost
SERVICE_NOTIFICATION_DATABASE_PORT=5432
SERVICE_NOTIFICATION_DATABASE_NAME=hype360_ecommerce
SERVICE_NOTIFICATION_DATABASE_USERNAME=postgres
SERVICE_NOTIFICATION_DATABASE_PASSWORD=postgres

SERVICE_PAYMENT_PORT=8084
SERVICE_PAYMENT_NAME=service-payment
SERVICE_PAYMENT_DATABASE_HOST=localhost
SERVICE_PAYMENT_DATABASE_PORT=5432
SERVICE_PAYMENT_DATABASE_NAME=hype360_ecommerce
SERVICE_PAYMENT_DATABASE_USERNAME=postgres
SERVICE_PAYMENT_DATABASE_PASSWORD=postgres

SERVICE_PROFILE_PORT=8085
SERVICE_PROFILE_NAME=service-profile
SERVICE_PROFILE_DATABASE_HOST=localhost
SERVICE_PROFILE_DATABASE_PORT=5432
SERVICE_PROFILE_DATABASE_NAME=hype360_ecommerce
SERVICE_PROFILE_DATABASE_USERNAME=postgres
SERVICE_PROFILE_DATABASE_PASSWORD=postgres

SERVICE_REPORT_PORT=8086
SERVICE_REPORT_NAME=service-report
SERVICE_REPORT_DATABASE_HOST=localhost
SERVICE_REPORT_DATABASE_PORT=5432
SERVICE_REPORT_DATABASE_NAME=hype360_ecommerce
SERVICE_REPORT_DATABASE_USERNAME=postgres
SERVICE_REPORT_DATABASE_PASSWORD=postgres

# -----------------------------------------------------------------------------
# APP SHARED CONFIG
JPA_HIBERNATE_DDL_AUTO=update
JPA_SHOW_SQL=true
# -----------------------------------------------------------------------------

# -----------------------------------------------------------------------------
# MAIL SMTP
# -----------------------------------------------------------------------------
EMAIL_SMTP_HOST=localhost
EMAIL_SMTP_PORT=25
EMAIL_SMTP_USERNAME=support@rnd.com
EMAIL_SMTP_PASSWORD=aanqsojmpkugwaat
EMAIL_SMTP_TSL=false


# -----------------------------------------------------------------------------
# JWT
# -----------------------------------------------------------------------------
JWT_SECRET=1e7d67b6ab3976d32fa527a2459871051592b8d4e4c113606da6f97709eeb75816bfa117be16f272e7e46634b472ce7a3f7bc7219375d26d9af41dffa9f469707e589d5373a4b94913a382deb1d8e9a58ab8e284074793b68cc5ff7778a5df26614b2256d51aae5a871586bac4ee49a1305b937066400e5802ed124ad97edb08872fb375b83d2c4eb10237c354499d1ca11998cfad78aea955fa7d348d65b57e00dbfb7997fa2508d71f9ad17b41261a80858a517730ed5be5b2c6d4523d4003ed6fc0f58372bb4e8615269d106d0740c8b09d7161b4efeb7b52ca0bf67707b658ecdcc44f54e5801d596001599cb7c24479e6df21071cfb08752da2bcdffdde
JWT_EXPIRATION=60
JWT_REFRESH_EXPIRATION=120